* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001646;
    font-family: Arial, Helvetica, sans-serif;
}

#pageTab {
    width: 970px;
    margin: 0 auto;
}

img {
    width: 970px;
    height: 280px;
}

#nav_articleTR {
    background-color: black;
}

#navTab {
    width: 200px;
    color: white;
    padding: 5px;
}

.navList {
    height: 30px;
    font-weight: bold;
}

#articleTab {
    color: #fff;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 5px;   
}

#footerTR {
    height: 20px;
    background-color: #103898;
    text-align: center;
    color: white;
}