* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.smile {
    margin: 5% auto;
    width: 700px; 
    height: 700px;
    background: #4CEF98;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

.eyes {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.eye-left {
    background: #ffffff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 15%;
}

.eye-right {
    background: #ffffff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.nose {
    background: #ffffff;
    align-self: center;
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.mouth {
    background: #ffffff;
    align-self: center;
    height: 50px;
    width: 300px;
    margin-top: 10%;
}