* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.wrapper {
    max-width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.files {
    padding: 10px;
    display: flex;
    gap: 1rem;
}


.item {
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0 1px 1px gray;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

ul {
    list-style: none;
}

.selected {
    opacity: 0.4;
}

.context-menu {
    position: absolute;
    display: none;
    padding: 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}
.context-menu li {
    padding: 5px 10px;
}
.context-menu li:hover {
    background-color: gray;
    cursor: pointer;
}
.show{ 
    display: inline-block;
}